@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  background-color: #111;
  color: #818181;
  height: 100vh;
  z-index: 20;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: left;
  overflow: hidden;
  left: 0;
  width: 192px;
}

.sidebar a:hover {
  color: #d8d8d8;
}

.sidebar .sb-section {
  padding-bottom: 14px;
}

.sidebar .sb-section-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 25px;
  gap: 20px;
  padding-top: 20px;
  padding-left: 15px;
}

.sidebar .sb-title-text-cl {
  display: none;
}

.sidebar .sb-title-text {
  display: block;
}

.sidebar .sb-section-header {
  display: block;
  font-size: 15px;
}

.sidebar .sb-item-text {
  display: block;
  font-size: 19px;
  padding-left: 10px;
}

.sidebar .fa-chevron-left {
  display: block;
}

@media (max-width: 920px) {
  .sidebar.open {
    width: 64px;
  }
  .sidebar.open .sb-section-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .sidebar.open .sb-title-text-cl {
    display: block;
  }
  .sidebar.open .sb-title-text {
    display: none;
  }
  .sidebar.open .sb-section-header {
    display: none;
  }
  .sidebar.open .sb-item-text {
    display: none;
  }
  .sidebar.open .fa-chevron-left {
    display: none;
  }
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 920px) {
  .cards {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.card {
  background-color: green;
  color: white;
}

.card h2 {
  font-size: 35px;
  margin: 1px 0 1px 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-side, .right-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 920px) {
  .left-side, .right-side {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.content-left, .content-left-bot, .content-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-height: 30vh;
  background: white;
}

@media (max-width: 920px) {
  .content-left, .content-left-bot, .content-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.left-side div, .right-side div, .cards div {
  border: 15px #f1f1f1 solid;
  padding: 10px;
}

.navbar {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
}

.navbar a {
  height: 23px;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #333;
  color: white;
}

.navbar .search-container {
  float: left;
}

.navbar input[type=text] {
  padding: 10px 150px 10px 25px;
  margin: 7px 0px 7px 20px;
  border-radius: 3px;
  border-width: .5px;
  border-color: #333;
  border-style: groove;
}

@media (max-width: 680px) {
  .navbar input[type=text] {
    padding: 10px 0px 10px 25px;
    margin: 7px 0px 7px 0px;
  }
}

.navbar .search-container button {
  float: right;
  padding: 11px 25px;
  margin: 7px 0px;
  background: #3d58d3;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: white;
  height: 4vh;
  padding: 0 10px 5px;
}

#users {
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  text-align: center;
  padding: 8px;
}

#users tr:nth-child(odd) {
  background-color: #e1e1e1;
}

#users th {
  text-align: center;
  background-color: #333;
  color: #f1f1f1;
  padding: 12px 0 12px;
}
/*# sourceMappingURL=style.css.map */