// COLORS

$bg-color: #f1f1f1;
$my-blue: rgb(61, 88, 211);
$my-yellow: rgb(255, 196, 0);
$my-grey: #333;
$my-black: #111;

// SIZES

$gap-size: 30px;

// FONTS

$font-family: 'Open Sans', sans-serif;
$text-size: 14px;