@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// COLORS

$bg-color: #f1f1f1;
$my-blue: #3d58d3;
$my-yellow: #ffc400;
$my-grey: #333;
$my-black: #111;

// SIZES

$gap-size: 30px;

// FONTS

$font-family: 'Open Sans', sans-serif;
$text-size: 14px;

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    font-size: $text-size;
    font-family: $font-family;
}

.sidebar {
    background: $my-black;
    color: #818181;
    flex: 1;
    padding: 0;
    transition: .5s;
}

.sidebar a {
    padding: 0 5px 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: .3s;
}

.sidebar a:hover {
    color: #d8d8d8;
}

.sidebar p {
    padding: 0 0 10px 15px;
    margin: 0;
    font-size: 15px;
    color: #455050;
    display: block;
    transition: .3s;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 7;
    @media (max-width: 850px) {
        flex: 25;
    }
}

.column.bigger {
    display: flex;
    flex-direction: column;
    flex: 25;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
}

.card1, .card2, .card3, .card4 {
    flex-basis: 25%;
    min-height: 15vh;
    max-height: 23vh;
    @media (max-width: 850px) {
        flex-basis: 50%;
    }
}

.card1 h2, .card2 h2, .card3 h2, .card4 h2{
    font-size: 35px;
    margin: 1px 0 1px 0;
}

.card1 {
    background: green;
}

.card2 {
    background: $my-blue;
}

.card3 {
    background: $my-yellow;
}

.card4 {
    background: red;
}

.content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
}

.left-side, .right-side {
    flex-basis: 50%;
    @media (max-width: 850px) {
        flex-basis: 100%;
  }
}

.content-left, .content-left-bot, .content-right {
    flex-basis: 50%;
    min-width: 60vh;
    min-height: 30vh;
    background: white;
}

.content-left {
    min-height: 40vh;
}

.navbar {
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 10px 5px black
}

.navbar a {
    height: 50px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: $my-grey;
    color: white;
}

.navbar .search-container {
    float: left;
}

.navbar input[type=text] {
    padding: 10px 25px;
    margin: 7px 0px 7px 50px;
    border-radius: 3px;
    border-width: .5px;
    border-color: $my-grey;
    border-style: groove;
}

.navbar .search-container button {
    float: right;
    padding: 11px 25px;
    margin: 7px 0px;
    background: $my-blue;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: white;
    height: 4vh;
    padding: 0 10px 5px;
}

.left-side div, .right-side div, .cards div {
    border: 15px $bg-color solid;
    padding: 10px;
}

#users {
    border-collapse: collapse;
    width: 100%;
}

#users td, #users th {
    text-align: center;
    padding: 8px;
}

#users tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#users th {
    text-align: center;
    background-color: $my-grey;
    color: #f2f2f2;
    padding: 12px 0 12px;
}